<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="SYSParaProperty" class="com.xunda.interceptor.SYSParaProperty">
        <property name="IP" value="192.168.208.129"></property>
        <property name="APP" value="APP1"></property>
    </bean>
</beans>